
#? Usuario y clave de Mongo Atlas base de datos Movies.
MONGOUSER=Su_Usuario_de_Conexion_a_La_BD_Mongo
MONGOKEY=Su_Clave_de_Conexion_a_La_BD_Mongo
CLOUSTERNAME=NombreDelClousterDondeEstaAlojadaLaBd
DBNAME=NombreDeLaBd

#? Puerto que se va a levantar el servidor back.
PORT=3001